<!DOCTYPE html>
<html>
<head>
    <title>Stroke Risk Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>Stroke Risk Prediction</h1>
    <form method="POST">
        Age: <input type="number" name="age"><br><br>
        Gender:
        <select name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br><br>
        Hypertension:
        <input type="radio" name="hypertension" value="yes">Yes
        <input type="radio" name="hypertension" value="no">No<br><br>
        Heart Disease:
        <input type="radio" name="heart_disease" value="yes">Yes
        <input type="radio" name="heart_disease" value="no">No<br><br>
        Glucose Level: <input type="number" name="glucose_level"><br><br>
        Work Type:
        <select name="work_type">
            <option value="student">Student</option>
            <option value="self_employed">Self Employed</option>
            <option value="government">Government</option>
            <option value="others">Others</option>
        </select><br><br>
        Residency:
        <select name="residency">
            <option value="rural">Rural</option>
            <option value="urban">Urban</option>
        </select><br><br>
        Married:
        <select name="married">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select><br><br>
        BMI: <input type="number" name="bmi"><br><br>
        Smoking Status:
        <select name="smoking_status">
            <option value="unknown">Unknown</option>
            <option value="never_smoked">Never Smoked</option>
            <option value="formerly_smoked">Formerly Smoked</option>
            <option value="smokes">Smokes</option>
        </select><br><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>

