body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFC0CB; /* Pink Background Color */
     /* background-image: url('background.jpg'); */
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px; /* Adjust the border-radius for rounded corners */
}

h1, h2, h3 {
    color: #333;
}

.card {
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px; /* Adjust the border-radius for rounded corners */
}

.card-title {
    color: #333;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: right;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}
